@import "./texts.css";

body {
  height: 100%;
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", Arial, Helvetica, sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
} 
* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}


.container{
  box-sizing: border-box; 
}

.header{
  padding-top: 44px;
  position: relative;
  overflow: hidden;
}
.arms{
  position: absolute;
  width: 1316px;
  height: 881px;
  left: 794px;
  top: 206px;
}

.header-line{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  justify-content: space-between;
  padding: 0 40px;
  margin: 0 auto;
}

.header-line li{
  
  list-style-type: none;
}

.header-line li a{

  text-decoration: none;
}

.header-logo{
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 203.27px;
  position: relative;
}



.menu {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-align: center;
}

.menu li{
  margin-right: 64px;
  display: flex;
  
  align-items: center;
  text-align: center;
}
.menu li a {
  display: flex;
  gap:9px;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  color: #545454;
  font-size: 1.375rem;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.secondary__menu{
  box-sizing: border-box;
  margin-left: 185px;
  display: flex;
  align-items: center;
  text-align: center;
}

.secondary__menu li{
  margin-right: 37.9px;
  white-space: nowrap;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #333333;
  font-size: 1.375rem;
  display: flex;
  gap:24px;
  
}

.phone{
  display: flex;
  gap:24px;
  align-items: center;
  text-align: center;
  font-family: 'Roboto Flex';
  font-style: normal;
  font-weight: 800;
  font-size: 1.5625rem;
  line-height: 1.8125rem;

  letter-spacing: 0.01em;

  color: #333333;


}

.offer{
  
  margin-left: 162px;
  margin-top: 150px;
}
.offer p {
  
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  letter-spacing: 0.03em;
  opacity: 0.7;
  font-weight: 300;
  color: #222222;
  word-spacing: 1.875rem;
  
}
.offer h1 {
  font-family: "Roboto Flex";
  font-size: 3.5rem;
  font-weight: 800;
  letter-spacing: 3%;
  text-transform: uppercase;
  white-space: nowrap;
}

.offer2 {
  position: relative;
  display: flex;
  gap: 43px;
  align-items: center;
  margin-left: 165px;
  margin-top: 53px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  white-space: nowrap;
  color: #3D3D3D;
  margin-bottom: 52px;
}

.mouse{
position: absolute;
width: 20.61px;
height: 511.15px;
left: 44.28px;
top: 322.25px;
}

.pre__button {
  display: flex;
  margin-left: 174px;
  align-items: center;
  gap: 57px;
  margin-bottom: 60px;
}
.pre__button__text h2{

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 292%;
color: #232323;

text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);

}
.button{
  width: 353px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #D13737;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 292%;

  color: #FFFFFF;

  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

.steps{ 
  align-items: center;
  margin-left: 173px;
  margin-bottom: 87px;
}

.block{
  display: flex;
  gap: 29px;
  margin-bottom:35px;
}

.block img{
  padding-left: 15px;
}

.number{
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%; 
 
  justify-content: center;
  color: #A4A4A4;
  font-size: 1.5rem;
  border: 1px solid #A4A4A4;
}

.number p{

  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 300;
font-size: 2.0625rem;
line-height: 82%;
color: #787878;
}

.number__text{
  
font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 2rem;
white-space: nowrap;

color: #3D3D3D;
}
.box__container{
  
  box-sizing: border-box;
  display: flex;
  align-items: center;
 
}

.box{
  position: relative;
  background-color: #353535;
  padding: 3% 4% 3% 4%;
  border-right: 1px solid #656565;
  
}

.box1{
  padding-left: 11%;
}

.box4{
  padding-right: 20%;
}

.box__text{
  white-space: nowrap;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 112%;

  color: #FFFFFF;
}